
body{

    margin: 0px;

}

nav{

    position: absolute;
    top: 25px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-left: 10px;

}

nav ul{

    margin-top: 0px;

}

nav ul li{

    display: inline;
    list-style: none;
    margin-left: 20px;
    margin-top: 0px;
    color: rgb(224, 224, 224);
    cursor: pointer;
    

}

nav ul li a{

    text-decoration: none;
    color: rgb(224, 224, 224);

}

nav img{

    height: 1.5cm;
    border-radius: 50%;


}

header{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 1cm;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(247, 236, 222,0.6)), url(website_images/background_pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

.header_contents{

    width: auto;
    height: auto;
    background-color: transparent;

}

.header_contents p{

    text-align: center;
    color: rgb(137, 136, 136);
    font-size: 25px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3.5px;
    

}

.appear1{

    animation-name: appearAnimation1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;

}

@keyframes appearAnimation1{

    0%{font-size: 0px;
        transform: translateY(0%);}
    90%{font-size: 0px;
        transform: translateY(0%);}    

    100%{font-size: 25px;
    }

}

.header_contents h1{

    text-align: center;
    color: rgb(231, 230, 230);
    font-size: 120px;
    font-weight: 10;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 0px;
    

}

.appear2{

    animation-name: appearAnimation2;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;

}

@keyframes appearAnimation2{

    0%{transform: translateY(60%);
        font-size: 0px;}
    20%{font-size: 120px;}
    100%{transform: translateY(0%);}

}

.header_contents h3{

    text-align: center;
    color: rgb(231, 230, 230);
    font-size: 40px;
    font-weight: 400;
    font-family: cursive;
    margin-top: 0px;

}

.appear3{

    animation-name: appearAnimation3;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;

}

@keyframes appearAnimation3{

    0%{transform: translateY(120%);
    font-size: 0px;}
    20%{font-size: 40px;}
    100%{transform: translateY(0%);}

}

.header_contents button{

    margin: auto;
    width: 5cm;
    height: 1cm;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px;
    font-family: corbel light;

}

.appear4{

    animation-name: appearAnimation4;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    
}

@keyframes appearAnimation4{

    0%{height: 0px;
        width: 0px;
        font-size: 0px;
        background-color: transparent;
    border: none;}
        90%{height: 0px;
        width: 0px;
        font-size: 0px;
        background-color: transparent;
    border: none;}
        
    

}

.header_contents div{

    display: flex;
    justify-content: center;

}

main{

    width: 100%;
    height: auto;

}

.section1{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 240, 235);

}

.inner_section1{

    width: 85%;
    height: 80%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    

}

.inner_section1 .left{

    width: auto;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;

}

.inner_section1 .left h1{

    color: rgb(117, 77, 29);
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;

}

.inner_section1 .left p{

    color: rgb(94, 61, 21);
    font-size: 15px;
    font-family: cursive;
    font-weight: 500;

}

.inner_section1 .right{

    width: auto;
    height: 100%;
    background-color: transparent;
    padding-left: 2cm;
    display: flex;
    align-items: center;

}

.inner_section1 .right img{

    height: 90%;
    
}

footer{

    width: 100%;
    height: 100vh;
    background-color: rgb(77, 53, 22);

}

footer .first3 .top3{

    display: flex;
    
    justify-content: space-between;
    align-items: center;
    height: 7cm;
    margin-left: 50px;
    margin-right: 50px;

}

footer .first3 .top3 .topic3{

    color: white;
    font-size: 40px;

}

footer .first3 .top3 a{

    color: white;
    text-decoration: none;

}

footer .second3{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 50px;
    margin-left: 50px;
    margin-right: 50px;


}

footer .second3 div{

    width: 100%;
    height: 8cm;
    background-color: transparent;
    

    border: 1.5px solid rgb(206, 206, 206);

}

.third3{

    width: 100%;
    height: 2cm;

}